body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Modal styles */
.view-article-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s;
}

.searchbararticle {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-image: url("./searchIcon.gif");
  background-repeat: no-repeat;
  padding-left: 34px;
  background-position: 5px 8px;
  background-size: 28px;
}

.view-article-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: 10% auto;
  max-width: 600px;
  position: relative;
  animation: slideIn 0.3s;
}

.view-article-close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #ff0000;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.view-article-close:hover,
.view-article-close:focus {
  color: rgb(255, 0, 0);
  text-decoration: none;
}



.view-article-action-btn:hover {
  background-color: #0056b3;
}

.fa-trash-can {
  border: none;
  color: red;
  padding: 12px 5px;
  font-size: 18px;
  cursor: pointer;
}

.fa-share {
  border: none;
  color: #19bbd2;
  padding: 12px 5px;
  font-size: 18px;
  cursor: pointer;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.th,
.td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.th {
  background-color: #f2f2f2;
  color: #0269b2;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .view-article-modal-content {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .view-article-modal-content {
    width: 95%;
  }

  .th,
  .td {
    font-size: 14px;
    padding: 6px;
  }
}
